<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragment/admin_layout}">

<th:block layout:fragment="content_css">
    <!-- html 파일이 열릴 때 같이 실행되는 css -->
    <!-- <link rel="stylesheet" href="/"> -->
</th:block>

<th:block layout:fragment="contentFragment">
    <!-- itemCode값 숨겨두고 유지하기 -->
    <input id="updateItemCode" type="hidden" th:value="${updateItemCode}">
    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col">
                    <label class="form-label">&nbsp;
                        <strong>
                            제품 목록&nbsp;(<font color="red">[[${#lists.size(updateList)}]]개</font>)
                        </strong>
                    </label>
                    <table id="updateItemTable" class="table table-hover">
                        <colgroup>
                            <col width="8%">
                            <col width="22%">
                            <col width="40%">
                            <col width="10%">
                            <col width="20%">
                        </colgroup>
                        <thead class="table-dark">
                            <tr>
                                <td>No</td>
                                <td>제품코드</td>
                                <td>제품명</td>
                                <td>재고</td>
                                <td>상태</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="update, state : ${updateList}" th:onclick="getdetail([[${update.itemCode}]])">
                                <td>
                                    [[${#lists.size(updateList) - state.index}]]
                                </td>
                                <td>
                                    [[${update.itemCode}]]
                                </td>
                                <td>
                                    <div class="row">
                                        <div class="col mainName">
                                            [[${update.itemName}]]
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    [[${update.itemStock}]]
                                </td>
                                <td>
                                    [[${update.strStatus}]]
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
<!-- /////////////////////////////////////////////////////////////////////////////////////////////////// -->
                <div class="col detail-div">
                    <label class="form-label">&nbsp;<strong>제품 기본 정보</strong></label>
                    <table id="updateItemTable2">
                        <tr>
                            <td style="text-align: center;">…</td>
                        </tr>
                    </table>
                    <div class="header-div"></div>
                    <label class="form-label">&nbsp;<strong>제품 이미지 정보</strong></label>
                    <table id="updateItemTable3">
                        <tr>
                            <td style="text-align: center;">…</td>
                        </tr>
                    </table>
                    <div class="header-div"></div>
                    <div class="d-grid">
                        <input type="button" value="…" class="btn btn-dark">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="img-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">제품 이미지 보기</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="main-image">
                        <img src="" width="100%">
                    </div>
                </div>
            </div>
        </div>
    </div>

</th:block>

<th:block layout:fragment="content_js">
    <!-- html 파일이 열릴 때 같이 실행되는 js -->
    <script src="/js/content/admin/update_item.js"></script>
</th:block>

</html>