<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title></title>
<style>
    .container{
        width: 600px;
        margin: 0 auto;
    }
    .sub-div{
        text-align: center;
        margin-top: 16px;
    }
    textarea{
        resize: none;
    }
</style>
</head>
<body>
    <div class="container">
    <form action="regStu" method="post">
    학번 <input type="text" name="stuNo"><br>
    이름 <input type="text" name="stuName"><br>
    국어점수 <input type="text" name="korScore"><br>
    영어점수 <input type="text" name="engScore"><br>
    학생소개 <textarea name="intro" cols="30" rows="10"></textarea><br>
    <div class="sub-div">
        <input type="submit" value="등록 완료">
    </div>
    </form>
    </div>
</body>
</html>